body {
    background: url(kover1.jpeg) no-repeat;
    background-size: cover;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
}

button {
    background-color: black;
    color: white;
    font-size: 20px;
}